[MASTER]
extension-pkg-whitelist=bpy,mathutils,bmesh,aud
jobs=0

[MESSAGES CONTROL]
disable=
    import-error,
    invalid-name,
    no-member,
    too-few-public-methods,
    unused-argument,
    duplicate-code,
    redefined-outer-name,
    attribute-defined-outside-init

[BASIC]
good-names=i,j,k,ex,_,x,y,z,w,f,co,uv,bm,ac,bl_info,cls,ma

[VARIABLES]
ignored-argument-names=_.*|^ignored_|^unused_|context|event
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_
